extends layout

block headjs
  script.
    var userID = "#{userID}";
  script(src="/js/user.js")

block content
  h1 Proman.io
  h2= name
  p Email: #{email} - ID: #{userID}
  p Last login: #{login}
    h3 Actions
    ul
        li
            a(href="/project/new") Create a new project
        li
            a(href="/user/edit") Edit user info
        li
            a(href="/user/delete") Delete account
        li
            a(href="/logout") Logout
  h3 My projects
  ul#myprojects
    li Loading...
